<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理控制台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/refs/amaze-ui/css/amazeui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/app.css}"/>
</head>
<body>
<script th:src="@{/static/refs/requirejs/require.min.js}"></script>
<script>
    require.config({
        baseUrl: "/app/static",
        paths: {
            "jquery": 'refs/jquery-3.0.0/jquery-3.0.0.min',
            'amaze': 'refs/amaze-ui/js/amazeui.min',
            "avatar": 'refs/extention/avatar'
        }
    });
</script>
<div th:replace="layout/common :: header"></div>
<div>
    文档Home页
</div>
<div th:replace="layout/common :: footer"></div>
<div th:replace="layout/common :: events"></div>
</body>
</html>