<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Avatar</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/refs/amaze-ui/css/amazeui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/app.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/app-tools.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/app-tools-tree.css}"/>
</head>
<body>
<script th:src="@{/static/refs/requirejs/require.min.js}"></script>
<script>
    require.config({
        baseUrl: "/app/static",
        paths: {
            "jquery": 'refs/jquery-3.0.0/jquery-3.0.0.min',
            'amaze': 'refs/amaze-ui/js/amazeui.min',
            'amazeTree': 'refs/amaze-tree/amazeui.tree.min',
            "avatar": 'refs/extention/avatar',
            "avatarFmt": 'refs/extention/avatar-fmt',
            "clipboard": "refs/clipboard/clipboard-2.0.1.min",
            "hljs": "refs/highlight/highlight.pack"
        },
        map: {
            '*': {
                'css': 'refs/require-css/css.min'
            }
        },
        shim: {
            "amazeTree": {
                deps: ["jquery"],
                exports: "amazeTree"
            },
            "hljs": {
                deps: ["css!refs/highlight/styles/github.css"],
                exports: "hljs"
            },
            "clipboard": {
                deps: [],
                exports: "clipboard"
            }
        }
    });
</script>
<div th:replace="layout/common :: header"></div>
<div class="app-content">
    <div class="tools-menu">
        <ul id="toolsMenu" class="am-tree tools-menu-ul">
            <li class="am-tree-branch am-hide" data-template="treebranch">
                <div class="am-tree-branch-header">
                    <button class="am-tree-branch-name">
                        <span class="am-tree-icon am-tree-icon-folder"></span>
                        <span class="am-tree-label"></span>
                    </button>
                </div>
                <ul class="am-tree-branch-children"></ul>
                <div class="am-tree-loader">Loading...</div>
            </li>
            <li class="am-tree-item am-hide" data-template="treeitem">
                <button class="am-tree-item-name">
                    <span class="am-tree-icon am-tree-icon-item"></span>
                    <span class="am-tree-label"></span>
                </button>
            </li>
        </ul>
    </div>
    <script>
        require(["avatar", "amazeTree"], function (avatar) {
            avatar.getJson("static/json/tools-menu.json", function (data) {
                $('#toolsMenu').tree({
                    dataSource: function (options, callback) {
                        callback({data: options.products || data});
                    },
                    multiSelect: false,
                    cacheItems: true,
                    folderSelect: false
                });
                $('#toolsMenu').tree('discloseAll');
                var findMenu = function (menu, url) {
                    if (menu.length > 0) {
                        for (var i = 0; i < menu.length; i++) {
                            var result = findMenu(menu[i], url);
                            if (result != null) {
                                return result;
                            }
                        }
                        return null;
                    }
                    if (typeof menu.attr == "object" && typeof menu.attr.url == "string") {
                        if (url.indexOf(menu.attr.url) != -1) {
                            return menu;
                        }
                    }
                    if (typeof menu.products == "object") {
                        return findMenu(menu.products, url);
                    }
                    return null;
                };
                var currMenu = findMenu(data, window.location.pathname);
                if (currMenu != null) {
                    $('#toolsMenu').tree('selectItem', $("#" + currMenu.attr.id));
                }
                $('#toolsMenu').on('selected.tree.amui', function (event, data) {
                    var items = $('#toolsMenu').tree('selectedItems');
                    if (items.length > 0 && typeof items[0].attr.url == "string") {
                        avatar.loadPage("#mainContent", items[0].attr.url);
                    }
                });
            });
        });
    </script>
    <div class="tools-content">
        <div class="main-content" id="mainContent" style="padding: 10px;min-height: 500px;"
             th:include="(${includePage} != null ? ${includePage} : 'biz/tools/home') :: content"></div>
    </div>
</div>
<div th:replace="layout/common :: events"></div>
</body>
</html>