<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>format</title>
</head>
<body>
<div th:fragment="content">
    <ol class="breadcrumb">
        <li><a th:href="@{/tools}">工具</a></li>
        <li class="active">编码&解码</li>
    </ol>
    <div class="col-md-12">
        <form id="encodeForm">
            <div class="form-group">
                <label for="inputText" class="text-primary">输入文本</label>
                <textarea name="inputText" class="form-control" rows="10" id="inputText"></textarea>
            </div>
            <div class="form-group op-style">
                <div>
                    <label><input type="radio" name="method" value="base64" checked/>&nbsp;BASE64</label>
                    <label><input type="radio" name="method" value="url"/>&nbsp;URL</label>
                    <label><input type="radio" name="method" value="unicode"/>&nbsp;Unicode</label>
                    <label><input type="radio" name="method" value="ascii"/>&nbsp;ASCII</label>

                    <span style="float: right;">
                        <button onclick="executeEncode(1)" class="btn btn-danger" type="button">编码</button>
                        <button onclick="executeEncode(2)" class="btn btn-danger" type="button">解码</button>
                    </span>
                </div>
                <p class="text-danger">【注】编码字符集为UTF-8</p>
            </div>
            <div class="form-group">
                <label for="outputText" class="text-primary">输出结果</label>
                <textarea name="outputText" class="form-control" rows="10" id="outputText"></textarea>
            </div>
            <div class="form-group">
                <div class="bg-danger" style="padding: 5px;display: none;" id="message"></div>
            </div>
        </form>
    </div>
    <script>
        require(["app", "icheck"], function ($) {

            $('input').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_polaris',  // 注意square和blue的对应关系
                radioClass: 'iradio_polaris',
                increaseArea : '50%',
                labelHover: true
            });
            var messageTip = function (show, message) {
                if (show) {
                    $("#message").html(message).show();
                } else {
                    $("#message").html("").hide();
                }
            };

            executeEncode = function (opFlag) {
                messageTip(false);
                var form = $("#encodeForm").serializeJSON();
                form["opFlag"] = opFlag;
                $.xyzPost("tools/code/execute/encode", JSON.stringify(form), function (data) {
                    $("textarea[name='outputText']").val(data.outputText);
                    if (!data.success) {
                        messageTip(true, data.message);
                    }
                })
            };
        })
    </script>
    <style>
        .op-style {
            padding: 10px;
            background-color: #2c323c;
            font-size: 14px;
            border: 1px solid #CCCCCC;

        }

        .op-style label{
            cursor: pointer;
            color: #CCCCCC;
            margin-right: 10px;
        }
    </style>
</div>
</body>
</html>