body {
    background-color: white;
}

.tools-menu {
    width: 200px;
    height: 100%;
    float: left;
    background-color: #333744;
    font-size: 13px;
}

.tools-content {
    height: 100%;
    margin-left: 200px;
    background-color: white;
}

.tools-menu-ul {
    margin: 5px;
}

.am-topbar-inverse {
    background-color: #373d41;
    border-color: #333333;
    color: #eeeeee;
}

.main-content {
    font-size: 14px;
    margin: 0 5px;
}